<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Appraisal Cheat Sheet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DualTypes WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DualTypes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PidgeyGrinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Triangulate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC2E2A371D77DA0B00E70DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9091411D7332D4007682BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9B63F51D6FE8C400467EDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCA7425A1D52E675003DAC35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCA7426C1D52E675003DAC35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
